.assessment-in-progress {
	border: 2px solid #e2e5e8;
    padding: 10px;
    background: #edf0f3;
    height: 75px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 10px;
}

.option-buttons {
	position: absolute;
	height: 75px;
	right: 0;
	top: 0;
	display: none;
}

.assessment-in-progress:hover > .option-buttons {
	display: block;
}


.option-buttons a {
	display: block;
	float: right;
	line-height: 71px;
	width: 71px;
	text-align: center;
	font-size: 1.5em;
	color: #fff;
}

.button-green {
	background: #2ab27b;
}

.button-red {
	background: #bf5329;
}

.button-green:hover {
	background: #20895e;
}

.button-red:hover {
	background: #78341a;
}


.option-buttons a:hover {
	color: #fff;
}

.assessment-title {
	font-size: 1.4em;
	font-weight: 700;
}

.assessment-description {
	display: block;
	font-size: 0.9em;
	color: #999;
}

.add-box {
	width: 100%;
	height: 200px;
	background: #f5f8fa;
	border: 5px solid #ccc;
	text-align: center;
	line-height: 200px;
	font-size: 50px;
	border-radius: 5px;
	display: block;
}


.add-box:hover {
	border-color: #333;
}

.assessment-users {
	background: #f0f0f0;
	padding-top: 20px;
	padding-bottom: 20px;
}

.assessment-users-icon, .assessment-devices-icon, .assessment-policies-icon{
	font-size: 100px;
	text-align: center;
	line-height: 200px;
	height: 200px;
	border-right: 4px solid #999;
}

.assessment-devices {
	background: #e0e0e0;
	padding-top: 20px;
	padding-bottom: 20px;
}

.assessment-policies {
	background: #d0d0d0;
	padding-top: 20px;
	padding-bottom: 20px;
}