.assessment-in-progress {
	border: 2px solid #e2e5e8;
    padding: 10px;
    background: #edf0f3;
    height: 75px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 10px;
}

.option-buttons {
	position: absolute;
	height: 75px;
	right: 0;
	top: 0;
	display: none;
}

.assessment-in-progress:hover > .option-buttons {
	display: block;
}


.option-buttons a {
	display: block;
	float: right;
	line-height: 71px;
	width: 71px;
	text-align: center;
	font-size: 1.5em;
	color: #fff;
}

.button-green {
	background: #2ab27b;
}

.button-red {
	background: #bf5329;
}

.button-green:hover {
	background: #20895e;
}

.button-red:hover {
	background: #78341a;
}


.option-buttons a:hover {
	color: #fff;
}

.assessment-title {
	font-size: 1.4em;
	font-weight: 700;
}

.assessment-description {
	display: block;
	font-size: 0.9em;
	color: #999;
}

.add-box {
	width: 100%;
	height: 150px;
	background: #f5f8fa;
	border: 5px solid #ccc;
	text-align: center;
	line-height: 150px;
	font-size: 30px;
	border-radius: 5px;
	display: block;
	opacity: .5;
}

.add-box:hover {
	border-color: #333;
	opacity: 1;
}

.padding-row {
	padding-top: 20px;
	padding-bottom: 20px;
}

.assessment-users {
	background: #f0f0f0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.assessment-users-icon, .assessment-devices-icon, .assessment-policies-icon, .assessment-assets-icon {
	font-size: 70px;
	text-align: center;
	line-height: 150px;
	height: 150px;
	border-right: 4px solid #999;
}

.assessment-devices {
	background: #e0e0e0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.assessment-assets {
	background: #d0d0d0;
	padding-top: 10px;
	padding-bottom: 10px;
}


.assessment-policies {
	background: #c0c0c0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.assessment-box {
	width: 100%;
	height: 150px;
	background: #f5f8fa;
	border: 5px solid #ccc;
	text-align: center;
	font-size: 16px;
	border-radius: 5px;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;

}

.assessment-box i.main-icon { font-size: 60px; }

.assessment-box:hover > .assessment-box-options {
	display: block;
}

.assessment-box-options { 
	position: absolute;
	top: 7px;
	right: 7px;
	text-align: right;
	vertical-align: top;
	display: none;
}

.assessment-box-options a {
	vertical-align: top;
}

#svgContainer {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

}

.dashed-line {
      stroke-dasharray: 4px;
}

.policy-line {
	stroke: red;
      stroke-dasharray: 2px;
}

@keyframes pulse_animation {
	0% { transform: scale(1); }
	50% { transform: scale(1.05); }
	100% { transform: scale(1); }
}

.pulse {
	animation-name: pulse_animation;
	animation-duration: 1000ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	background-color: #ccffc1;
}

.pulse > .assessment-box-options {
	display: block;
}

.cancel-connect {
	position: absolute;
	top: -20px;
	left: 0;
	right: 0;
	z-index: 100;
	width: 150px;
	margin: 0 auto;
	display: none;
}